*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
}

.left-container {
  flex: 0 0 30%;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  height: 100vh;
}

.content-heading {
  background-color: #000000;
  padding: 5px;
  color: #ffffff;
  text-align: center;
}

.left-content {
  height: 99vh;
  border: 1px solid #6b6b6b;
  overflow-y: auto;
}

.right-container {
  flex: 0 0 70%;
  padding: 5px;
  background-color: rgb(233, 230, 230);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 99vh;
}

.right-content-top,
.right-content-bottom {
  margin: 0;
  flex: 1;
  overflow-y: auto;
}

.right-content-top {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px;
}

.right-content-bottom {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px;
}

.clickable-title {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.step-title {
  margin-left: 10px;
}

.stepwithoption {
  display: inline-block;
}

.editicon {
  transition: 0.5s;
}

.editicon:hover {
  color: blue;
  transform: scale(1.5);
}

.trashicon {
  transition: 0.5s;
}

.trashicon:hover {
  color: red;
  transform: scale(1.5);
}

.btn.active {
  font-size: 15px;
}
.maincntn{
  width: auto;
  height: 100vh;  
}
.groupdiv{
  width: auto;
  height: 100vh;
}
.maindashboarddiv{
  width: auto;
  height: 100vh;
}
.userdiv{
  width: auto;
  height: 100vh;
}
.quizdiv{
  width: auto;
  height: 100vh;
}
.usergroupdiv{
  width: auto;
  height: 100vh;
}

@media only screen and (max-width: 932px) and (max-height: 430px) {
  .maincntn{
    max-width: 100%;
    height: auto;
    /* margin-top: 0px !important;  */
    /* padding-bottom: 0px !important; */
    /* height: auto !important;       */
  }
  .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  }
}
@media only screen and (max-width: 430px) {
  .maincntn{
    max-width: 100%;
    /* height: auto; */
    /* margin-top: 0px !important; */
    /* padding-bottom: 250px !important;  */              
  }
  /* .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  } */
}
@media only screen and (min-width: 431px) and (max-width: 600px) {
  .maincntn{
    max-width: 100%;
    /* height: auto; */
    /* margin-top: 0px !important; */
    /* margin: 0px !important; 
    padding-bottom: 250px !important;  */
    /* height: auto !important;       */
  }
  /* .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  } */
  /* @page {
    size: landscape; /* Set the page orientation to landscape 
  } */
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .maincntn{
    max-width: 100%; 
    /* height: auto; */
    /* padding-bottom: 250px !important; */
    /* height: auto !important;     */
  }
  /* .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  } */
  @page {
    size: landscape; /* Set the page orientation to landscape */
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .maincntn{
    max-width: 100%;
    /* height: auto; */
    /* padding-bottom: 20  0px !important; */
    /* height: auto !important; */
  }
  /* .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  } */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .maincntn{
    max-width: 100%;
    /* height: auto; */
    /* padding-bottom: 350px !important; */
    /* height: auto !important; */
  }
  /* .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  } */
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .maincntn{
    max-width: 100%;
    /* height: auto; */
    /* padding-bottom: 400px !important; */
    /* height: auto !important; */
  }
  /* .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  } */
}
@media only screen and (min-width: 1501px) and (max-width: 2100px) {
  .maincntn{
    max-width: 100%;
    /* height: auto; */
    /* padding-bottom: 450px !important; */
    /* height: auto !important; */
  }
  /* .groupdiv,
  .maindashboarddiv,
  .userdiv,
  .quizdiv,
  .usergroupdiv{
    height: auto;
  } */
}