*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;  
}
html{
    height: 100%;
}
body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
 
}

/* body#body { Background-color:red; } */
.thead-dark th {
  background-color: red;
}

.header {
  height: 80px;
}

.footer {
  margin-top: auto;
  /* height: 80px; */
}

.main-container {
  max-width: 100vw;    
  height: 100vh; 
  display: flex;   
  font-family: cursive !important;
}
.cntnr{
  height: 100vh;
}

.loginbox{
  padding: 10px;
}

.btncltrs{
  display: flex;
  float: right;
}

  .dimsns{
    max-width: 100vw;    
    height: 100vh;    
    
  }


.btnenglish{
  background-color:purple; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 10%;
  
}

.btnnorwagian{
  background-color:darkred; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 10%;
  
}

  .sidebar {
   background: #000;   
}  

.main-content {
  max-width: 100vw; 
  height: 100vh;  
  flex: 1;
  overflow-y: auto;
}

.loginheader {
  background: black;
  text-align: center;
  height: 50px;
  color: #fff;
  width: 100vw;
  padding-top: 10px;

}

.btnlgn{
  margin-top: 25px !important;
}
